table {
  width: vw(1670px);
  border-radius: vw(40px);
  background: #21253d;
  box-shadow: 0 0 30px 0 rgba(241, 157, 82, 0.3);
  color: $color-white;
  text-align: center;
  padding-top: vw(21px);
  border-collapse: collapse;
  thead {
    font-size: vw(28px);
    font-weight: 500;
    line-height: 120%; /* 33.6px */
    letter-spacing: -0.7px;
    padding: vw(21px) 0 vw(15px) 0;
    tr {
      th {
        padding: vw(21px) 0 vw(15px) 0;
        border-bottom: 1px solid #ae7c55;
      }
    }
  }
  tbody {
    color: $color-white;
    text-align: center;
    font-size: vw(22px);
    font-weight: 600;
    line-height: 120%; /* 26.4px */
    letter-spacing: -0.55px;
    tr {
      position: relative;
      td {
        padding: vw(22px) 0px;
        border-top: 1px solid #ae7c55;
      }
      &:nth-child(odd) {
        background: linear-gradient(
          90deg,
          rgba(33, 37, 61, 1) 0%,
          rgba(43, 48, 76, 1) 100%
        );
      }
    }
  }
}

th:nth-child(2),
tbody td:nth-child(2) {
  text-align: left;
}

th:nth-child(1),
tbody td:nth-child(1) {
  color: $color-gray1;
}

.tableNav {
  @include flex($gap: vw(12px));
  .prevButton,
  .nextButton {
    color: $color-orange1;
    opacity: 60%;
    .active {
      opacity: 100%;
    }
  }

  .tableNumbers {
    @include flex($gap: vw(8px));
    .tableNum {
      color: $color-white;
      opacity: 60%;
    }
    .active {
      opacity: 100%;
      font-weight: bold;
    }
  }
}
