.footerContainer {
  display: flex;
  height: vw(400px);
  padding: vw(93px) 0 vw(150px) vw(120px);
  gap: vw(63px);

  p {
    font-weight: 500;
    font-size: vw(20px);
    color: $color-white;
  }
}
