@mixin cardFill() {
  border-radius: 50px;
  background: rgba($color-orange1, 0.6);
  box-shadow: 0 2px 2px 0 rgba($color-orange1, 0.6) inset;
}

.card {
  @include flex(column);
  max-width: vw(312px);
  height: vw(390px);
  width: 100%;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(
      180deg,
      rgba(253, 253, 253, 0) 70.25%,
      rgba(241, 157, 82, 0.2) 100%
    ),
    $color-white;

  transition: all 0.5s ease;
  &:hover {
    transform: translateY(vw(-69px));
    border-top: 1px solid #f19d52;
    border-right: 1px solid #f19d52;
    border-left: 1px solid #f19d52;
    box-shadow: 0 -10px 30px 10px rgba(241, 157, 82, 0.35);
    cursor: pointer;
  }
  .cardTop {
    position: relative;
    @include flex();
    width: 100%;
    height: vw(225px);
    .img {
      border-radius: 20px 20px 0 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: #5a4b4b;
    }
    .cardQuery {
      @include flex();
      position: absolute;
      bottom: 0;
      width: 100%;
      height: vw(85px);
      background: linear-gradient(
        0deg,
        rgba(40, 44, 72, 0.8) 0%,
        rgba(40, 44, 72, 0) 90.59%
      );
      color: $color-white;
      font-size: vw(20px);
      font-weight: 600;
      line-height: 120%; /* 24px */
      letter-spacing: -0.5px;
      text-align: center;
      padding: 0 vw(10px);
    }
  }

  .cardBottom {
    @include flex(column, flex-start, flex-start, vw(11px));
    flex: 1 1 0;
    width: 100%;
    padding-top: vw(12px);
    .cardTags {
      @include flex(row, flex-start, flex-start, $gap: vw(20px));
      width: 100%;
      padding-left: vw(14px);
      .cardTag {
        @include flex();
        @include cardFill();
        padding: vw(5px) vw(14px);
        justify-content: center;
        align-items: center;
        color: $color-black;
        text-align: center;
        font-size: vw(14px);
        font-weight: 600;
        line-height: 120%; /* 16.8px */
        letter-spacing: -0.35px;
      }
    }

    .cardInfo {
      @include flex(column, flex-start, flex-start, vw(15px));
      width: vw(253px);
      height: 100%;
      border-radius: 0 25px 0 0;
      background: rgba($color-orange1, 0.1);
      padding: vw(16px) vw(14px) 0 vw(14px);
      .cardCount {
        color: $color-black;
        font-size: vw(16px);
        font-weight: 600;
        line-height: 120%; /* 19.2px */
        letter-spacing: -0.4px;

        span {
          color: $color-orange2;
          font-weight: 600;
          font-size: vw(16px);
        }
      }

      .cardButton {
        @include flex();
        @include cardFill();
        @include hoverEvent(1.1);
        width: 100%;
        padding: vw(5px) 0 vw(5px) 0;
        color: $color-black;
        font-size: vw(14px);
        font-weight: 600;
        line-height: 120%; /* 16.8px */
        letter-spacing: -0.35px;
      }
    }
  }
}
