@mixin glassBorder() {
  border-top: 0.5px solid rgba(255, 255, 255, 0.4);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
}

@mixin glassTitle() {
  background: linear-gradient(
      94deg,
      rgba(241, 157, 82, 0) -0.61%,
      rgba(241, 157, 82, 0.6) 111.17%
    ),
    rgba(241, 157, 82, 0.4);
  box-shadow: 0 4px 12px 0 rgba(12, 15, 41, 0.2),
    0.1px 0.1px 0.5px 0 rgba(255, 255, 255, 0.5) inset,
    -0.1px -0.01px 0.5px 0 rgba(255, 255, 255, 0.5) inset;
  color: $color-white;
  font-size: vw(28px);
  font-weight: 600;
  line-height: 120%; /* 33.6px */
  letter-spacing: -0.7px;
  z-index: 1;
}

.container {
  @include flex(column);
  position: relative;
  width: 100%;
  height: 100%;
  background: $color-navy2;
  overflow-x: hidden;
  /* 검색 및 카드 영역 */
  .topContent {
    @include flex(column, center, flex-start);
    position: relative;
    width: 92%;
    height: vw(880px);
    overflow-y: hidden;
    background: linear-gradient(
      180deg,
      rgba($color-navy2, 0.6) 0%,
      rgba($color-orange1, 0.36) 100%
    );
    .logo {
      @include hoverEvent(1);
      width: vw(429.001px);
      height: vw(127.564px);
      margin-top: vw(128px);
      margin-bottom: vw(44px);
    }

    .searchSummary {
      @include flex($justify-content: space-between);
      width: vw(982px);
      color: $color-white;
      font-size: vw(24px);
      font-weight: 500;
      line-height: 120%; /* 28.8px */
      letter-spacing: -0.6px;
      padding-top: vw(16px);
      .SummaryTags {
        @include flex($gap: 16px);
      }
    }

    .recommandPanel {
      @include flex(column, flex-start);
      width: 100%;
      height: 100%;
      padding-top: vw(37px);
      .recommandPanelTitle {
        @include flex();
        @include glassTitle();
        position: relative;
        padding: vw(11px) vw(44px) vw(11px) vw(115px);
        border-radius: 0 50px 50px 0;
        transform: translateX(-42px);
        backdrop-filter: blur(5px);
      }

      .cardList {
        @include flex($gap: vw(30px));
        width: 100%;
        transform: translateY(vw(45px));
      }
    }
  }

  /* 그래프 영역 */
  .middleContent {
    @include flex($gap: vw(61px));
    position: relative;
    width: 100%;
    padding-top: vw(82px);
    padding-bottom: vw(163px);

    border-top: 3px solid transparent;
    border-image-source: radial-gradient(
      ellipse at top,
      $color-orange1,
      transparent
    );
    border-image-slice: 1;

    .doughnutContainer {
      position: relative;
      width: 50%;
      height: vw(909px);
      z-index: 1;
      .doughnutTitle {
        @include glassTitle();
        @include flex(row, flex-end, flex-end);
        position: absolute;
        width: vw(355px);
        padding: vw(11px) vw(29px) vw(11px) 0;
        left: -1px;
        top: vw(-28px);
        border-radius: 0 50px 50px 0;
        backdrop-filter: blur(50px);
        text-align: right;
      }
      .doughnutSection {
        @include flex(column);
        @include glassBorder();
        border-radius: 0 40px 40px 0;
        background: linear-gradient(
          90deg,
          rgba(12, 15, 41, 0.17) 0%,
          rgba(241, 157, 82, 0.2) 100%
        );
        width: 100%;
        height: vw(909px);
        backdrop-filter: blur(5px);
      }
    }
    .barContainer {
      @include flex(column, $gap: vw(51px));
      position: relative;
      width: 50%;
      height: vw(909px);
      z-index: 1;
      .barSection {
        position: relative;
        width: 100%;
        height: vw(429px);
        .barTitle {
          @include flex();
          @include glassTitle();
          border-radius: 50px;
          width: vw(256px);
          padding: vw(11px) 0 vw(11px) 0;
          position: absolute;
          left: vw(42px);
          top: vw(-28px);
          backdrop-filter: blur(50px);
        }
        .barContent {
          @include flex();
          @include glassBorder();

          width: 100%;
          height: vw(429px);
          backdrop-filter: blur(5px);
          border-radius: 40px 0px 0px 40px;
          background: linear-gradient(
            270deg,
            rgba(12, 15, 41, 0.17) 0%,
            rgba(241, 157, 82, 0.2) 100%
          );
        }
      }
    }

    .blankBox {
      position: absolute;
      width: vw(900px);
      height: vw(920px);
      top: vw(142px);
      right: -22px;
      border-radius: 40px;
      background: rgba(251, 251, 199, 0.1);
      &:last-child {
        width: vw(872px);
        height: vw(754px);
        top: vw(298px);
        left: vw(-145px);
      }
    }
  }

  /* 표 영역 */
  .bottomContent {
    @include flex(column, $justify-content: flex-start, $gap: vw(38px));
    position: relative;
    width: 92%;
    height: vw(1000px);
    border-radius: 40px 40px 0 0;
    background: linear-gradient(
      90deg,
      rgba(12, 15, 41, 0.45) 0%,
      rgba(241, 157, 82, 0.27) 100%
    );
    padding-top: vw(114px);
    padding-bottom: vw(46px);
    .bottomTitle {
      @include flex($justify-content: flex-start);
      position: absolute;
      width: vw(733px);
      top: vw(-28px);
      left: vw(-80px);
      .resultCount {
        @include flex($justify-content: flex-end);
        @include glassTitle();
        max-width: vw(386px);
        width: 100%;
        padding: vw(11px) vw(69px) vw(11px) 0;
        border-radius: 0 50px 50px 0;
        backdrop-filter: blur(20px);
      }

      .exportContainer {
        position: relative;
        color: $color-gray2;
        font-size: vw(24px);
        transform: translateX(vw(-290px));
        transition: transform 0.5s ease;
        @include flex();
        &:hover {
          transform: translateX(vw(-60px));
        }
        .exportButton {
          @include flex();
          @include glassTitle();
          @include hoverEvent();
          color: $color-gray2;
          font-size: vw(24px);
          font-weight: 500;
          border-radius: 0 50px 50px 0;
          width: vw(141px);
          height: vw(56px);
          backdrop-filter: blur(10px);
          padding: vw(11px) vw(18px);
          transition: all 0.3s ease;
          &:hover {
            color: $color-white;
          }
        }
      }
    }
  }
}
