// @use './variables' as *; 불러오기
// color: $color-primary 사용

// 색상
$color-yellow: #fbfbc7;
$color-orange1: #f19d52;
$color-orange2: #ed702d;
$color-navy1: #282c48;
$color-navy2: #0c0f29;

$color-white: #fdfdfd;
$color-black: #121212;
$color-gray1: #b7b7b7;
$color-gray2: #d9d9d9;
$color-gray3: #f2f2f2;
