@mixin glassBorder() {
  border-top: 0.5px solid rgba(255, 255, 255, 0.4);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
}

@mixin glassTitle() {
  background: linear-gradient(
      94deg,
      rgba(241, 157, 82, 0) -0.61%,
      rgba(241, 157, 82, 0.6) 111.17%
    ),
    rgba(241, 157, 82, 0.4);
  box-shadow: 0 4px 12px 0 rgba(12, 15, 41, 0.2),
    0.1px 0.1px 0.5px 0 rgba(255, 255, 255, 0.5) inset,
    -0.1px -0.01px 0.5px 0 rgba(255, 255, 255, 0.5) inset;
  color: $color-white;
  font-size: vw(28px);
  font-weight: 600;
  line-height: 120%; /* 33.6px */
  letter-spacing: -0.7px;
  z-index: 1;
}

.container {
  @include flex(column, $gap: vw(38px));
  position: absolute;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  transition: backdrop-filter 0.5s ease;
  backdrop-filter: blur(5px) opacity(0);
  &.show {
    backdrop-filter: blur(5px) opacity(1);
  }
  .closeButton {
    @include flex();
    @include hoverEvent(1.1);
    width: vw(144px);
    height: vw(144px);

    img {
      width: 100%;
      height: 100%;
    }
  }
  .cardContainer {
    @include flex(column);
    width: vw(1710px);
    min-height: vw(2053px);
    border-radius: vw(50px);
    border: vw(3px) solid $color-orange1;
    background: $color-navy2;
    box-shadow: 0 0 vw(30px) 0 rgba(241, 157, 82, 0.7);
    overflow-x: hidden;
    overflow-y: auto;
    .topContent {
      @include flex($align-items: flex-start);
      width: vw(1550px);
      height: vw(208px);
      padding-top: vw(91px);
      border-radius: 0 0 48px 48px;
      background: linear-gradient(
        180deg,
        rgba(12, 15, 41, 0.6) 0%,
        rgba(241, 157, 82, 0.36) 100%
      );
      color: $color-white;
      text-align: center;
      font-size: vw(54px);
      font-weight: 600;
      line-height: 120%; /* 64.8px */
      letter-spacing: -1.35px;
    }
  }
  /* 그래프 영역 */
  .middleContent {
    @include flex($gap: vw(93px));
    position: relative;
    width: 100%;
    padding-top: vw(107px);
    padding-bottom: vw(163px);

    .doughnutContainer {
      position: relative;
      width: 50%;
      height: vw(909px);
      z-index: 1;
      .doughnutTitle {
        @include glassTitle();
        @include flex(row, flex-end, flex-end);
        position: absolute;
        width: vw(355px);
        padding: vw(11px) vw(29px) vw(11px) 0;
        left: -1px;
        top: vw(-28px);
        border-radius: 0 50px 50px 0;
        backdrop-filter: blur(50px);
        text-align: right;
      }
      .doughnutSection {
        @include flex(column);
        @include glassBorder();
        border-radius: 0 40px 40px 0;
        background: linear-gradient(
          90deg,
          rgba(12, 15, 41, 0.17) 0%,
          rgba(241, 157, 82, 0.2) 100%
        );
        width: 100%;
        height: vw(909px);
        backdrop-filter: blur(5px);
      }
    }
    .barContainer {
      @include flex(column, $gap: vw(51px));
      position: relative;
      width: 50%;
      height: vw(909px);
      z-index: 1;
      .barSection {
        position: relative;
        width: 100%;
        height: vw(429px);
        .barTitle {
          @include flex();
          @include glassTitle();
          border-radius: 50px;
          width: vw(256px);
          padding: vw(11px) 0 vw(11px) 0;
          position: absolute;
          left: vw(42px);
          top: vw(-28px);
          backdrop-filter: blur(50px);
        }
        .barContent {
          @include flex();
          @include glassBorder();

          width: 100%;
          height: vw(429px);
          backdrop-filter: blur(5px);
          border-radius: 40px 0px 0px 40px;
          background: linear-gradient(
            270deg,
            rgba(12, 15, 41, 0.17) 0%,
            rgba(241, 157, 82, 0.2) 100%
          );
          .cardText {
            @include flex(column, flex-start, flex-start, vw(20px));
            width: 100%;
            height: 100%;
            color: $color-white;
            padding: vw(50px) vw(30px) 0 vw(30px);
            .cardTextTitle {
              font-size: vw(30px);
              font-weight: 700;
            }
            .cardTextCaption {
              font-size: vw(16px);
            }
          }
        }
      }
    }

    .blankBox {
      position: absolute;
      width: vw(900px);
      height: vw(920px);
      top: vw(142px);
      right: vw(-250px);
      border-radius: 40px;
      background: rgba(251, 251, 199, 0.1);
      &:last-child {
        width: vw(872px);
        height: vw(754px);
        top: vw(298px);
        left: vw(-145px);
      }
    }
  }

  /* 표 영역 */
  .bottomContent {
    @include flex(column, $justify-content: flex-start, $gap: vw(38px));
    position: relative;
    width: 100%;
    height: vw(1000px);
    background: linear-gradient(
      90deg,
      rgba(12, 15, 41, 0.45) 0%,
      rgba(241, 157, 82, 0.27) 100%
    );
    padding-top: vw(114px);
    padding-bottom: vw(46px);
    .bottomTitle {
      @include flex($justify-content: flex-start);
      position: absolute;
      width: vw(733px);
      top: vw(-28px);
      left: 0;
      .resultCount {
        @include flex($justify-content: flex-end);
        @include glassTitle();
        max-width: vw(386px);
        width: 100%;
        padding: vw(11px) vw(69px) vw(11px) 0;
        border-radius: 0 50px 50px 0;
        backdrop-filter: blur(20px);
      }

      .exportContainer {
        position: relative;
        color: $color-gray2;
        font-size: vw(24px);
        transform: translateX(vw(-290px));
        transition: transform 0.5s ease;
        @include flex();
        &:hover {
          transform: translateX(vw(-60px));
        }
        .exportButton {
          @include flex();
          @include glassTitle();
          color: $color-gray2;
          font-size: vw(24px);
          font-weight: 500;
          border-radius: 0 50px 50px 0;
          width: vw(141px);
          height: vw(56px);
          backdrop-filter: blur(10px);
          padding: vw(11px) vw(18px);
          transition: all 0.3s ease;
          &:hover {
            color: $color-white;
          }
        }
      }
    }
  }
}
