.mainContainer {
  position: relative;
  width: 100%;
  background: url('@/assets/main/background-img.svg') top center / cover
    no-repeat;
  aspect-ratio: 1920 / 6893;
}

.arrowImg {
  position: fixed;
  bottom: vw(80px);
  right: vw(80px);
  width: vw(100px);
  height: vw(100px);
  cursor: pointer;
}
