.container {
  @include flex($gap: 10px);
  width: 1000px;
  height: 78px;
  padding: 7px 8px 7px 33px;
  border: none;
  border-radius: 50px;
  background: $color-white;
  box-shadow: 6px 6px 14px 0 rgba(241, 157, 82, 0.6),
    4px 4px 8px 0 rgba(241, 157, 82, 0.4) inset;
  .input {
    @include flex();
    width: 100%;
    background-color: transparent;
    color: #000;
    border: none;
    font-size: rem(28px);
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.7px;
    &:focus {
      outline: none;
    }
    /* 'X' 버튼(지우기) 숨기기 */
    &[type='search']::-webkit-search-cancel-button {
      display: none;
    }
  }
  .button {
    @include flex();
    @include hoverEvent(1.05);
    &:active {
      filter: brightness(0.96);
    }
    &:disabled {
      filter: brightness(1.1);
      cursor: not-allowed;
    }
    min-width: 64px;
    min-height: 64px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, $color-yellow 0%, $color-orange1 100%);
    box-shadow: 0 2.783px 2.783px 0 rgba(241, 157, 82, 0.6) inset;
    img {
      width: 30px;
      height: 30px;
    }
  }
}
