.openButton {
  position: fixed;
  top: vw(193px);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: vw(167px);
  height: vw(68px);
  padding-right: vw(16.78px);
  background: linear-gradient(
    270deg,
    #fbfbc7 24.25%,
    rgba(241, 157, 82, 0.6) 100%
  );
  box-shadow: 0 vw(4px) vw(4px) 0 rgba(241, 157, 82, 0.6) inset;
  backdrop-filter: blur(vw(2px));
  border-radius: 0 vw(100px) vw(100px) 0;

  z-index: 10000;

  .openButtonImg {
    width: vw(44.445px);
    height: vw(44.445px);
    flex-shrink: 0;
  }
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(40, 44, 72, 0.2);
  backdrop-filter: blur(vw(5px));
  z-index: 9998;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  transform: translateX(-100%);
  transition: transform 0.4s ease;
  width: vw(540px);
  height: 100vh;
  border-radius: 0 vw(100px) vw(100px) 0;
  background: linear-gradient(
      180deg,
      rgba(12, 15, 41, 0.4) 0%,
      rgba(241, 157, 82, 0.24) 100%
    ),
    #282c48;
  box-shadow: vw(10px) 0 vw(50px) 0 rgba(241, 157, 82, 0.2);

  display: flex;
  flex-direction: column;
  gap: vw(163px);

  &.open {
    transform: translateX(0);
  }
}

.historyHeader {
  display: flex;
  justify-content: space-between;
  padding-top: vw(200px);

  .titleBox {
    display: inline-flex;
    padding: vw(11px) vw(24px) vw(11px) vw(105px);
    justify-content: flex-end;
    align-items: center;
    border-radius: 0 vw(120px) vw(120px) 0;
    background: linear-gradient(
        94deg,
        rgba(241, 157, 82, 0) -0.61%,
        rgba(241, 157, 82, 0.6) 111.17%
      ),
      rgba(241, 157, 82, 0.4);
  }

  .headerTitle {
    color: #fdfdfd;
    font-family: Pretendard;
    font-size: vw(28px);
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 33.6px */
    letter-spacing: -0.7px;
  }

  .headerSubtitle {
    display: flex;
    align-items: center;
    margin-right: vw(22px);
    gap: vw(5px);

    .subText {
      color: #d9d9d9;
      font-family: Pretendard;
      font-size: vw(28px);
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 33.6px */
      letter-spacing: -0.7px;
    }

    .historyImg {
      width: vw(27px);
      height: vw(27px);
    }
  }
}

.backButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: vw(107px);
  height: vw(68px);
  padding-left: vw(18px);
  flex-shrink: 0;
  background: linear-gradient(
    270deg,
    #fbfbc7 24.25%,
    rgba(241, 157, 82, 0.6) 100%
  );
  box-shadow: 0 vw(4px) vw(4px) 0 rgba(241, 157, 82, 0.6) inset;
  backdrop-filter: blur(vw(2px));
  border-radius: vw(100px) 0 0 vw(100px);

  .backButtonImg {
    width: vw(48px);
    height: vw(38.337px);
    flex-shrink: 0;
  }
}

.historyContainer {
  display: flex;
  flex-direction: column;
  gap: vw(26px);

  .historyBox {
    width: vw(495px);
    height: vw(110px);
    display: inline-flex;
    padding: 0 0 0 vw(59px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: vw(4px);
    border-radius: 0 vw(30px) vw(30px) 0;
    border-top: vw(1px) solid #b7b7b7;
    border-right: vw(1px) solid #b7b7b7;
    border-bottom: vw(1px) solid #b7b7b7;
    background: linear-gradient(
      90deg,
      rgba(12, 15, 41, 0.17) 0%,
      rgba(241, 157, 82, 0.2) 100%
    );

    .historyTitle {
      color: #fdfdfd;
      font-family: Pretendard;
      font-size: vw(28px);
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 33.6px */
      letter-spacing: -0.7px;
    }

    .historyKeyword {
      display: flex;
      gap: vw(18px);

      .keywordText {
        color: #fdfdfd;
        font-family: Pretendard;
        font-size: vw(22px);
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 26.4px */
        letter-spacing: -0.55px;
      }
    }
  }
}
