@mixin cardFill() {
  border-radius: 50px;
  background: rgba($color-orange1, 0.6);
  box-shadow: 0 2px 2px 0 rgba($color-orange1, 0.6) inset;
}

.card {
  @include flex(column);
  max-width: 312px;
  height: 390px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  background: linear-gradient(
      180deg,
      rgba(253, 253, 253, 0) 70.25%,
      rgba(241, 157, 82, 0.2) 100%
    ),
    $color-white;
  .cardTop {
    position: relative;
    @include flex();
    width: 100%;
    height: 225px;
    img {
      border-radius: 30px 30px 0 0;
      background-color: $color-gray2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .cardQuery {
      @include flex();
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 85px;
      background: linear-gradient(
        0deg,
        rgba(40, 44, 72, 0.8) 0%,
        rgba(40, 44, 72, 0) 90.59%
      );
      color: $color-white;
      font-size: 20px;
      font-weight: 600;
      line-height: 120%; /* 24px */
      letter-spacing: -0.5px;
    }
  }

  .cardBottom {
    @include flex(column, flex-start, flex-start, 11px);
    flex: 1 1 0;
    width: 100%;
    padding-top: 12px;
    .cardTags {
      @include flex($align-items: flex-start, $gap: 20px);
      width: 100%;
      .cardTag {
        @include flex();
        @include cardFill();
        padding: 5px 14px;
        justify-content: center;
        align-items: center;
        color: $color-black;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 120%; /* 16.8px */
        letter-spacing: -0.35px;
      }
    }

    .cardInfo {
      @include flex(column, flex-start, flex-start, 15px);
      width: 253px;
      height: 100%;
      border-radius: 0 25px 0 0;
      background: rgba($color-orange1, 0.1);
      padding: 16px 14px 0 14px;
      .cardCount {
        color: $color-black;
        font-size: 1rem;
        font-weight: 600;
        line-height: 120%; /* 19.2px */
        letter-spacing: -0.4px;

        span {
          font-weight: 600;
          font-size: 14px;

          span {
            color: $color-orange1;
          }
        }
      }

      .cardButton {
        @include flex();
        @include cardFill();
        @include hoverEvent();
        width: 100%;
        padding: 5px 0 5px 0;
      }
    }
  }
}
