.container {
  @include flex(column, $gap: vw(30px));
  border-radius: 50px 50px 50px 10px;
  border: 1px solid $color-orange1;
  background: linear-gradient(
      251deg,
      rgba(12, 15, 41, 0.36) 0%,
      rgba(241, 157, 82, 0.36) 100%
    ),
    #282c48;
  box-shadow: 0 0 vw(30px) 0 rgba(241, 157, 82, 0.3);
  position: absolute;
  left: vw(300px);
  bottom: 50%;
  width: vw(605px);
  min-height: vw(100px);
  z-index: 1;
  padding: vw(35px) vw(25px) vw(60px) vw(25px);

  color: #fdfdfd;
  text-align: center;
  font-size: vw(28px);
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0vw (7px);
  transition: all 0.3s ease;
  &::after {
    content: '';
    position: absolute;
    width: vw(18px);
    height: vw(18px);
    background-color: $color-orange1;
    border: vw(4px) solid #fff4cf;
    border-radius: 50px;
    filter: drop-shadow(0 0 8px $color-orange1);
    left: vw(10px);
    bottom: vw(10px);
  }
  .id {
  }

  .summary {
    font-size: vw(24px);
    text-align: start;
  }

  .content {
    @include flex(column, flex-start, $gap: vw(20px));
    width: 100%;
    .qDataContent {
      @include flex($justify-content: space-between);
      font-size: vw(20px);
      width: 100%;
      padding: vw(10px);
      border-radius: 50px;
      background: rgba(241, 157, 82, 0.4);
      .qDataQuestion {
        position: relative;
        padding-left: vw(10px);
      }
      .qDataAnswer {
        padding: vw(5px) vw(10px);
        border-radius: 50px;
        background: rgba(241, 157, 82, 0.4);
      }
    }
  }
}
