.container {
  @include flex(column, flex-start);
  width: 100%;
  height: 100%;
  padding-top: vw(30px);
  padding-bottom: vw(5px);
  padding-left: vw(50px);
  .chartTitle {
    color: $color-white;
    font-size: vw(24px);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.6px;
  }
}

.emptyState {
  color: rgba($color-white, 1);
  font-size: vw(24px);
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.6px;
}
