.container {
  @include flex(column, $gap: vw(20px));

  .chartLabelContainer {
    @include flex($gap: vw(20px));
    .chartLabel {
      @include flex($gap: vw(10px));
      .colorBox {
        width: vw(43px);
        height: vw(43px);
        border-radius: 50px;
      }
      .labelText {
        color: rgba($color-white, 1);
        font-size: vw(24px);
        font-weight: 500;
        line-height: 120%; /* 28.8px */
        letter-spacing: -0.6px;
      }
    }
  }
  .chartContainer {
    @include flex();
    position: relative;
    width: vw(730px);
    height: vw(730px);
    border-radius: 1000px;
    padding: vw(20px);
    box-shadow: 4px 4px 4px 0 rgba(255, 255, 255, 0.25) inset;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 1000px;
      border: vw(285px) solid rgba($color-white, 0.1);
      background-image: radial-gradient(
          58.6% 69.45% at 50% 50%,
          rgba(184, 124, 78, 0.6) 0%,
          rgba(12, 15, 41, 0.6) 100%
        ),
        rgba(253, 253, 253, 0.3);
      background-origin: border-box;
      background-clip: content-box, border-box;

      box-shadow: -4px 8px 8px 0 rgba(12, 15, 41, 0.2),
        4px 4px 4px 0 rgba(255, 255, 255, 0.25) inset;
      backdrop-filter: blur(1.949109435081482px);
    }
  }
}
