.container {
  @include flex(column);
  width: 100%;
  height: 100%;
  padding-top: vw(30px);
  padding-bottom: vw(5px);
}

.emptyState {
  color: rgba($color-white, 1);
  font-size: vw(24px);
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.6px;
}
